.product-grid ul li img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-grid ul {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
}

.product-grid ul li {
  width: clamp(200px, 40%, 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: background-color 300ms ease;
  padding: 12px;
}

.product-grid ul li:hover {
  background-color: #efefef;
}

.add-btn {
  border-radius: 12px;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border: none;
}

.add-btn:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
}

.product-grid ul li p {
  text-align: center;
}

.price {
  font-weight: 600;
}

.qty-wrapper form input,
.qty-wrapper form fieldset {
  border: none;
}

.qty-wrapper form input {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  width: 50px;
  height: 32px;
}

.qty-wrapper form {
  display: flex;
  gap: 12px;
  align-items: center;
}
